@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
html,body{
    margin: 0;
    padding:0;
    background: #222222;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FAF4E6;
}
::-webkit-scrollbar {
    width: 6px; 
    height: 2px;
    background-color: #535353;
}
::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 9em;
}
.main_wrapper{
    max-width: 960px;
    margin: 0 auto;
}
.title{
    text-align: center;
    font-size: 46px;
}
.img{
    width: 640px;
    height: 360px;
    background-size: cover;
    border-radius: 10px;
}
.img_notes{
    background: url(img/Thumbnail.svg) center no-repeat;
}
.img_sites{
    background: url(img/sites.svg) center no-repeat;
}
.img_shiki{
    background: url(img/shiki.svg) center no-repeat;
}
.img_weather{
    background: url(img/cover.svg) center no-repeat;
}
.img_now{
    background: url(img/now.svg) center no-repeat;
}   
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.card_2{
    display: flex;
    flex-direction: row-reverse;
}
.description{
    width: 280px;
font-weight: 400;
font-size: 17px;
margin-top: -10px;
margin-bottom: 25px;
}
.about{
    display: flex;
    flex-direction: column;
}
.about_title{
font-weight: 700;
font-size: 26px;
line-height: 100%;
}
button{
background: #3C3B3A;
border: 1px solid #FAF4E6;
box-sizing: border-box;
border-radius: 44.5px;
padding: 1px 30px;
width: 177px;
height: 50px;
}
a{
    text-decoration: none;
    color: #FAF4E6;
    font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
}
.disclaimer{
    display:none;
}
@media (max-width: 900px) {
    .card{
        flex-direction: column;
    }
    .img{
        width: 70%;
    }

}
