.name_block{
    width: 460px;
    height: 100px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 460px;
}
#profile_img{
    display: none;
}
.linear_bg{
    height:200px;
}
.small_info_wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.user_img{
    margin-top: -50px;
}
.user_avatar_img{
    width: 160px;
    height: 160px;
    border-radius: 24px;
}
.about{
    width: auto;
    padding: 5px;
}
#web{
    display: none;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.stats_block{
    width: 282px;
    height: 152px;
    background: #1f2a47;
    border-radius: 12px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.stats_block::first-line{
    margin-left: 0px;
}
.history_wrapper{
    margin-top: 40px;
}
.description{
    font-size: 14px;
}
.anime_card{
    height:auto;
}
.title_wrapper{
    display: flex;
    justify-content: space-between;
}
.line{
    margin-bottom: 25px;
}
@media (max-width: 550px) {
    .stats_block{
        width: 100%;
    }
    .name_block{
        min-height: 100px;
        width: 100%;
    }
    .linear_bg{
        height: 120px;
    }
    .anime_card{
        margin-right: 25px;
    }
    .anime_wrapper{
        justify-content: flex-start;
        overflow-x: scroll;
        flex-wrap: nowrap;
}
}