.no_results{
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

}
@media (max-width: 500px) {
    .title:last-child{
        font-size: 30px;
    }
}